 <!-- Header -->
 <header class="shadow">
    <!-- Topbar -->
    <div class="py-3 text-sm bg-gray-700">
      <div class="container !mx-auto flex items-center justify-between">
        <!-- Secondary Links -->
        <ul class="secondary-menu">
          <li>
            <a href="#">Example Link</a>
          </li>
          <li>
            <a href="#">Example Link</a>
          </li>
          <li>
            <a href="#">Example Link</a>
          </li>
          <li>
            <a href="#">Example Link</a>
          </li>
        </ul>
        <!-- Regular Text -->
        <div class="text-gray-200 !mt-0">
          Some Regular Text
        </div>
      </div>
    </div>
    <!-- Header midsection -->
    <div class="container !mx-auto flex !flex-nowrap relative items-center py-5 justify-between w-full">
      <!-- Text Logo -->
      <a href="#" class="text-red-500 font-bold text-3xl font-['Pacifico']">
        Udemy
      </a>
      <!-- Image Logo -->
      <!-- <a href="#">
        <img src="img/logoipsum.png" width="142">
      </a> -->
      <!-- Search Form -->
      <form class="header-search-form">
        <input type="text" placeholder="Search">
      </form>
      <!-- Header Tools -->
      <div class="wp-block-udemy-plus-header-tools">
        <!-- Signin Modal Link -->
        <a class="signin-link open-modal" href="#signin-modal">
          <div class="signin-icon">
            <i class="bi bi-person-circle"></i>
          </div>
          <div class="signin-text">
            <small>Hello, Sign in</small>
            My Account
          </div>
        </a>
      </div>
    </div>
    <!-- Primary Menu -->
    <div class="container !mx-auto flex-nowrap justify-start pb-4 primary-menu">
      <ul>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
        <li>
          <a href="#">Example Link</a>
        </li>
      </ul>
    </div>
  </header>

  <!-- Main Content -->
  <main class="container !mx-auto my-16 grid grid-cols-3 gap-16">
    <div class="col-span-2">
      <!-- Entry-->
      <article class="flex border-b border-b-gray-200 pb-10 mb-10">
        <div class="grid grid-cols-3 gap-4">
          <div>
            <!-- Author -->
            <a class="post-author" href="#">
              <img src="/public/author.jpg" alt="Emma Gallaher">
              <span>John Doe</span>
            </a>
            <!-- Title -->
            <h2 class="text-xl mb-4 font-medium text-gray-700">
              <a href="#">
                We Launched Regular Drone Delivery in California. 
                Watch Demo Video
              </a>
            </h2>
            <!-- Date -->
            <span class="text-gray-500">Aug 15</span>
          </div>
          <div class="col-span-2">
            <!-- Post Image -->
            <a class="block rounded-lg overflow-hidden mb-4" href="#">
              <img src="/public/blog-post-01.jpg" class="w-full">
            </a>
            <div class="flex justify-between pb-4 text-gray-500 text-sm">
              <!-- Post Tags -->
              <div>
                <a href="#" class="blog-entry-meta-link">Travel</a>, 
                <a href="#" class="blog-entry-meta-link">Personal finance</a>
              </div>
              <!-- Post Comment Count -->
              <div>
                <a class="bi post-comment-count !mt-0" href="#comments">
                  8
                </a>
              </div>
            </div>
            <!-- Post Excerpt -->
            <p class="post-excerpt text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea com consequat. Duis 
              aute irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt… 
              <a href="#">
                [Read more]
              </a>
            </p>
          </div>
        </div>
      </article>
      <!-- Entry-->
      <article class="flex border-b border-b-gray-200 pb-10 mb-10">
        <div class="grid grid-cols-3 gap-4">
          <div>
            <div class="d-flex align-items-center fs-sm pb-2 mb-1">
              <a class="post-author" href="#">
                <img src="/public/author.jpg" alt="Emma Gallaher">
                John Doe
              </a>
            </div>
            <h2 class="text-xl mb-4 font-medium text-gray-700">
              <a href="#">
                We Launched Regular Drone Delivery in California. 
                Watch Demo Video
              </a>
            </h2>
            <span class="text-gray-500">Aug 15</span>
          </div>
          <div class="col-span-2">
            <a class="block rounded-lg overflow-hidden mb-4" href="blog-single-sidebar.html">
              <img src="/public/blog-post-02.jpg" class="w-full">
            </a>
            <div class="flex justify-between mb-4 text-gray-500 text-sm">
              <div>
                <a href="#" class="blog-entry-meta-link">Travel</a>, 
                <a href="#" class="blog-entry-meta-link">Personal finance</a>
              </div>
              <div>
                <a class="blog-entry-meta-link text-nowrap" href="#comments">
                  <i class="bi bi-chat-left-dots align-middle mr-1"></i> 8
                </a>
              </div>
            </div>
            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea com consequat. Duis 
              aute irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt… 
              <a href="#" class="text-gray-500 font-medium">
                [Read more]
              </a>
            </p>
          </div>
        </div>
      </article>
      <!-- Entry-->
      <article class="flex border-b border-b-gray-200 pb-10 mb-10">
        <div class="grid grid-cols-3 gap-4">
          <div>
            <div class="d-flex align-items-center fs-sm pb-2 mb-1">
              <a class="post-author" href="#">
                <img src="/public/author.jpg" alt="Emma Gallaher">
                John Doe
              </a>
            </div>
            <h2 class="text-xl mb-4 font-medium text-gray-700">
              <a href="#">
                We Launched Regular Drone Delivery in California. 
                Watch Demo Video
              </a>
            </h2>
            <span class="text-gray-500">Aug 15</span>
          </div>
          <div class="col-span-2">
            <a class="block rounded-lg overflow-hidden mb-4" href="blog-single-sidebar.html">
              <img src="/public/blog-post-03.jpg" class="w-full">
            </a>
            <div class="flex justify-between mb-4 text-gray-500 text-sm">
              <div>
                <a href="#" class="blog-entry-meta-link">Travel</a>, 
                <a href="#" class="blog-entry-meta-link">Personal finance</a>
              </div>
              <div>
                <a class="blog-entry-meta-link text-nowrap" href="#comments">
                  <i class="bi bi-chat-left-dots align-middle mr-1"></i> 8
                </a>
              </div>
            </div>
            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea com consequat. Duis 
              aute irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt… 
              <a href="#" class="text-gray-500 font-medium">
                [Read more]
              </a>
            </p>
          </div>
        </div>
      </article>
      <!-- Entry-->
      <article class="flex border-b border-b-gray-200 pb-10 mb-10">
        <div class="grid grid-cols-3 gap-4">
          <div>
            <div class="d-flex align-items-center fs-sm pb-2 mb-1">
              <a class="post-author" href="#">
                <img src="/public/author.jpg" alt="Emma Gallaher">
                John Doe
              </a>
            </div>
            <h2 class="text-xl mb-4 font-medium text-gray-700">
              <a href="#">
                We Launched Regular Drone Delivery in California. 
                Watch Demo Video
              </a>
            </h2>
            <span class="text-gray-500">Aug 15</span>
          </div>
          <div class="col-span-2">
            <a class="block rounded-lg overflow-hidden mb-4" href="blog-single-sidebar.html">
              <img src="/public/blog-post-01.jpg" class="w-full">
            </a>
            <div class="flex justify-between mb-4 text-gray-500 text-sm">
              <div>
                <a href="#" class="blog-entry-meta-link">Travel</a>, 
                <a href="#" class="blog-entry-meta-link">Personal finance</a>
              </div>
              <div>
                <a class="blog-entry-meta-link text-nowrap" href="#comments">
                  <i class="bi bi-chat-left-dots align-middle mr-1"></i> 8
                </a>
              </div>
            </div>
            <p class="text-sm">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
              sed do eiusmod tempor incididunt ut labore et dolore magna 
              aliqua. Ut enim ad minim veniam, quis nostrud exercitation 
              ullamco laboris nisi ut aliquip ex ea com consequat. Duis 
              aute irure dolor in reprehenderit in voluptate velit esse 
              cillum dolore eu fugiat nulla pariatur. Excepteur sint 
              occaecat cupidatat non proident, sunt in culpa qui officia 
              deserunt… 
              <a href="#" class="text-gray-500 font-medium">
                [Read more]
              </a>
            </p>
          </div>
        </div>
      </article>
      <!-- Pagination-->
      <nav class="flex justify-between">
        <a class="rounded-md py-2 px-4 block transition-all hover:bg-gray-100" href="#">
          Prev Page
        </a>
        <a class="rounded-md py-2 px-4 block transition-all hover:bg-gray-100" href="#">
          Next Page
        </a>
      </nav>
    </div>
    <div>
      <!-- Popular tags-->
      <div class="sidebar-tags">
        <h6 class="text-xl font-medium mb-5">Blog Tags</h6>
        <a href="#">fashion</a>
        <a href="#">gadgets</a>
        <a href="#">online shopping</a>
        <a href="#">top brands</a>
        <a href="#">travel</a>
        <a href="#">cartzilla news</a>
        <a href="#">personal finance</a>
        <a href="#">tips &amp; tricks</a>
      </div>
      <!-- Highly Rated Posts -->
      <div class="mb-8">
        <h6 class="text-xl font-medium mb-5">Trending Posts</h6>
        <div class="flex mb-4 items-center">
          <!-- Post Image -->
          <a class="shrink-0" href="#">
            <img class="rounded-lg w-16" src="/public/trending-01.jpg">
          </a>
          <div class="text-sm ml-4">
            <!-- Post Title -->
            <a class="block font-medium" href="blog-single.html">
              Retro Cameras are Trending. Why so Popular?
            </a>
            <!-- Post Author -->
            <span class="text-gray-500">
              by <a href="#">Andy Williams</a>
            </span>
          </div>
        </div>
        <div class="flex mb-4 items-center">
          <a class="shrink-0" href="#">
            <img class="rounded-lg w-16" src="/public/trending-02.jpg">
          </a>
          <div class="text-sm ml-4">
            <a class="block font-medium" href="blog-single.html">
              Retro Cameras are Trending. Why so Popular?
            </a>
            <span class="text-gray-500">
              by <a href="#">Andy Williams</a>
            </span>
          </div>
        </div>
        <div class="flex mb-4 items-center">
          <a class="shrink-0" href="#">
            <img class="rounded-lg w-16" src="/public/trending-03.jpg">
          </a>
          <div class="text-sm ml-4">
            <a class="block font-medium" href="blog-single.html">
              Retro Cameras are Trending. Why so Popular?
            </a>
            <span class="text-gray-500">
              by <a href="#">Andy Williams</a>
            </span>
          </div>
        </div>
      </div>
      <!-- Categories-->
      <div class="sidebar-categories">
        <h6 class="text-xl font-medium mb-5">Blog Categories</h6>
        <ul>
          <li><a href="#">Example Category</a></li>
          <li><a href="#">Example Category</a></li>
          <li><a href="#">Example Category</a></li>
          <li><a href="#">Example Category</a></li>
          <li><a href="#">Example Category</a></li>
        </ul>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="bg-gray-700 p-16">
    <div class="container !mx-auto">
      <div class="grid grid-cols-3 gap-4">
        <div>
          <h6 class="text-white font-medium text-lg mb-2">Footer Column 1</h6>
          <p class="text-white">
            This is an example of a footer column.
          </p>
        </div>
        <div>
          <h6 class="text-white font-medium text-lg mb-2">Footer Column 2</h6>
          <p class="text-white">
            This is an example of a footer column.
          </p>
        </div>
        <div>
          <h6 class="text-white font-medium text-lg mb-2">Footer Column 3</h6>
          <p class="text-white">
            This is an example of a footer column.
          </p>
        </div>
      </div>
      <hr class="text-white my-12">
      <div class="grid grid-cols-2 gap-4">
        <div>
          <p class="text-white">
            © All rights reserved.
          </p>
        </div>
        <div class="text-right">
          <a class="text-white ml-2" href="#">
            <i class="bi bi-twitter"></i>
          </a>
          <a class="text-white ml-2" href="#">
            <i class="bi bi-facebook"></i>
          </a>
          <a class="text-white ml-2" href="#">
            <i class="bi bi-instagram"></i>
          </a>
          <a class="text-white ml-2" href="#">
            <i class="bi bi-youtube"></i>
          </a>
        </div>
      </div>
    </div>
  </footer>